@tailwind base;
@tailwind components;
@tailwind utilities;


  @keyframes marquee { 
     from {transform: translateX(100%);} 
     to {transform: translateX(-100%);} 
 } 

.marquee{
    display: flex;
    width: 80%;
    animation: marquee 15s linear infinite;
}

    .animate-marquee {
        display: flex;
        width: 85%;
        animation: marquee 15s linear infinite;
        width: max-content;
    }

.marquee-content{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
}

